<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="API Suite" parallel="tests" thread-count="3">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    <test name="API tests">
        <classes>
            <class name="tests.api.CreateTypicodeTest">
            </class>
        </classes>
    </test>
    <test name="cucumber test cases">
        <classes>
            <class name="runners.TestRunner"></class>
        </classes>
    </test>
</suite>